<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Wifi</title>
</head>
<body style="padding: 0;margin: 0;width: 100%;height: 100%;background-color:#dfdfdf;">
    <div class="wrapper" style="width: 90%;height: 100%;padding: 0px 20px;margin:0 auto;background-color:#dfdfdf;box-sizing: border-box;">
        <div class="header" style="width: 100%;padding: 10px 0px;text-align: center;background-color: #FFF;margin: 10px 0px;box-shadow: 0px 0px 3px rgba(0,0,0,0.3);">
            <a href="https://prototype.worldwifi.io" target="_blank" style="text-decoration: none;"><img src="https://prototype.worldwifi.io/images/logo_news.png" alt="prototype.worldwifi.io"/></a>
        </div>  
        <div class="body" style="padding: 10px 20px;text-align: left;background-color: #FFF;margin: 10px 0px;box-shadow: 0px 0px 3px rgba(0,0,0,0.3);">
            <h1 style="font-size: 40px;line-height: 44px;">{{header}}</h1>
            <div class="bodyContent" style="font-size: 16px;line-height: 23px;">{{body}}</div>
        </div>
        <div class="footer" style="padding: 10px 0px;text-align: left;margin: 10px 0px;">
            <a class="itemClass" style="display: inline-block;vertical-align: middle;background-color: #FFF;padding: 10px 20px;box-shadow: 0px 0px 3px rgba(0,0,0,0.3);margin-right: 10px;margin-bottom: 10px;text-decoration: none;" href="https://prototype.worldwifi.io/news" target="_blank">Новости</a>
            <a class="itemClass" style="display: inline-block;vertical-align: middle;background-color: #FFF;padding: 10px 20px;box-shadow: 0px 0px 3px rgba(0,0,0,0.3);margin-right: 10px;margin-bottom: 10px;text-decoration: none;" href="https://prototype.worldwifi.io/about" target="_blank">О компании</a>
            <a class="itemClass" style="display: inline-block;vertical-align: middle;background-color: #FFF;padding: 10px 20px;box-shadow: 0px 0px 3px rgba(0,0,0,0.3);text-decoration: none;margin-bottom: 10px;" href="https://prototype.worldwifi.io/FAQ" target="_blank">FAQ</a>
        </div>
    </div>
    <style type="text/css">
        body{
            width: 100%;
            height: 100%;
        }
        .itemClass {
            transition: all 0.3s ease 0s;
        }
        .itemClass:hover {
            box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
            background-color: #d1d1d1;
        }
    </style>
</body>
</html>